@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: white;
  font-family: "Lato", san-serif;
}

.tag-menu{
  padding: 10px;
  background: white;
  text-align: center;
  border-radius: 50px
}

.tag-menu.active{

  background:#f3f8fe ;
  color: #176ff2;
}